# Compiler files
cache/
out/

# Ignores development (and goerli) broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/5/
/broadcast/**/dry-run/
/home/saritu/Documentos/Vcop-Collateral-system-hook-main/broadcast
/broadcast
# Docs
docs/

# Dotenv file
.env

# Node modules
node_modules/
lib/universal-router
